<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Lists</title>
</head>
<body>

{% for object in object_list %}
    <img src="{{ object.image.url }}" alt="image">
    <h4>{{ object.title }}</h4>
    <p>{{ object.desciption }}</p>
    <form action="{% url 'register:new' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
        <input type="submit" value="Register">
    </form>
     

     
     <form action="{% url 'register:list' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
        <input type="submit" value="list the entries of this event">
    </form>





{% endfor %}

</body>
</html>